{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block extrastatic %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} Document {% endblock %}</title>
</head>
<body>
<div class="container">
{% block navbar %}
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                <nav class="navbar navbar-default">
                     <div class="container-fluid">
                         <div class="navbar-header">
                          <a class="navbar-brand" href="#">Home</a>
                         </div>
                         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                         <ul class="nav navbar-nav">
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mascotas C<span class="caret"></span></a>
                                 <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'mascota_crearclase' %}">Registrar mascota</a></li>
                                    <li><a href="{% url 'mascota_listarclase' %}">Listar mascotas</a></li>
                                    <li><a href="{% url 'vacuna_crearclase' %}">Registrar vacuna</a></li>
                                    <li><a href="{% url 'vacuna_listarclase' %}">Listar vacunas</a></li>
                                 </ul>
                             </li>
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Adopciones C<span class="caret"></span></a>
                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="{% url 'solicitud_crearclase' %}">Solicitar</a></li>
                                     <li><a href="{% url 'solicitud_listarclase' %}">Listar solicitudes</a></li>
                                     <li><a href="{% url 'persona_listarclase' %}">Listar personas</a></li>
                                 </ul>
                             </li>
                         </ul>
                         <ul class="nav navbar-nav">
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mascotas F<span class="caret"></span></a>
                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="{% url 'mascota_crearfuncion' %}">Registrar mascota</a></li>
                                     <li><a href="{% url 'mascota_listarfuncion' %}">Listar mascotas</a></li>
                                     <li><a href="{% url 'vacuna_crearfuncion' %}">Registrar vacuna</a></li>
                                     <li><a href="{% url 'vacuna_listarfuncion' %}">Listar vacunas</a></li>
                                 </ul>
                             </li>
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Adopciones F<span class="caret"></span></a>
                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="{% url 'solicitud_crearfuncion' %}">Solicitar</a></li>
                                     <li><a href="{% url 'solicitud_listarfuncion' %}">Listar solicitudes</a></li>
                                     <li><a href="{% url 'persona_listarfuncion' %}">Listar personas</a></li>
                                 </ul>
                             </li>
                         </ul>
                         <ul class="nav navbar-nav navbar-right">
                             <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
                                 <ul class="dropdown-menu" role="menu">
                                     <li><a href="#">Salir</a></li>
                                 </ul>
                             </li>
                         </ul>
                         </div>
                     </div>
                </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block content %}
    <h5>Este es el contenido del archivo base</h5>
    {% endblock %}

    {% block footer %}

    {% endblock %}
</div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %}
    {% endblock %}
</body>
</html>
